.image--fit-container {
  background-size: cover;
  background-position: center center;
  display: flex;
  > * {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
  }
  &.compat-object-fit {
    img {
      display: none;
    }
  }
}
.alignleft {
  float: left;
  margin: 0 ms(1) ms(1) 0;
}
.alignright {
    float: right;
    margin: 0 0 ms(1) ms(1);
}
