#track-filter {
  @include medium-down {
    display: none;
  }
  flex: 1 15%;
  width: 15%;
  // right: 1.8rem;
  // top: 490px;
  position: relative;
  margin: 1.8rem;
  h4 {
    font-size: ms(-1);
    margin-bottom: .6rem;
  }
  .track-list {
    li.track-code {
      padding-left: 2rem;
      font-size: .68rem;
      line-height: 1.3;
      margin-bottom: .5rem;
      font-family: $font__default-heading-stack;
      &:before {
        font-family: $font__default-stack;
        font-weight: $weight__bold;
        padding: 0 3px;
        border-radius: 3px;
        line-height: 1.4;
        width: 25px;
        text-align: center;
        font-size: ms(-3);
      }
      &--wrk:before {
        content: "WRK";
      }
      &--aim:before {
        content: "AIM";
      }
      &--dpa:before {
        content: "DPA";
      }
      &--mcs:before {
        content: "MCS";
      }
      &--mpd:before {
        content: "MPD";
      }
      &--tie:before {
        content: "TIE";
      }
      &--uad:before {
        content: "UAD";
      }
      &--cor:before {
        content: "COR";
      }
    }
  }
  @include large {
    .track-list {
      li.track-code {
        font-size: ms(0);
        padding-left: 3rem;
        text-decoration: underline;
        cursor: pointer;
        &:before {
          width: 38px;
          font-size: ms(-1);
          transform: translateY(2px);
        }
      }
    }
  }
}
