// Colors
$blue: #07548C;
$blue-medium: #21759b;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;
$black: #000;
$gold: #F8C052;
$red: #B1171C;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: $dark-gray;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $blue;
$color__link-visited: $blue;
$color__link-hover: darken($blue, 10%);
$color__text-main: #404040;
