.hero {
    height: 305px;
    &:after {
        @include background-image( url( 'assets/img/hero-mask-short.svg' ) );
        background-size: 120% 195%;
        background-position: center 60%;
    }
    > img {
        height: auto;
        max-width: none;
        min-width: 100%;
        width: 100%;
        top: 0;
        @include transform(translatey(-35%));
    }
}
.home {
    .hero {
        height: 630px;
        &:after {
            background-size: 150%;
            background-position: center 70%;
        }
        > img {
            height: auto;
            max-width: none;
            min-width: 100%;
            width: 100%;
            top: 0;
            @include transform(translatey(0));
        }
    }
}