// Colors
$big-stone: #1a2c3e;
$endeavour: #2f5b88;
$jelly-bean: #407597;
$shakespeare: #5f9db8;
$romance: #fffffe;
$brandy-punch: #c47f3f;
$milano-red: #a13230;
$ecstasy: #c1623a;
$tussock: #E4A223;
$desert: #a0653c;
$mojo: #bb4635;
$ronchi: #e3c351;
$vivid-auburn: #912b2a;
$white: $romance;
$black: #2c2c2c;

// Track Colors
$wrk: $big-stone;
$aim: $endeavour;
$dpa: #542F88;
$mcs: #9B3AA4;
$mpd: $ecstasy;
$tie: $tussock;
$uad: #44882F;
$cor: #000;

body {
  background-color: $big-stone;
  font-family: $font__default-stack;
  &.no-header-image {
    .site-main {
      background-color: $white;
    }
    .page-header {
      background-color: $endeavour;
      color: $white;
    }
  }
}

a {
    color: $jelly-bean;
}
a:visited {
    color: $mojo;
}

.icon {
  fill: $white;
}
.teardrop {
  background-color: $mojo;
}
#masthead {
    color: $white;
    a {
        color: $white;
    }
    @include medium() {
        background-color: $big-stone;
    }
    .site-menu-group {
        background-color: $big-stone;
    }
}
#site-menu {
  .current-menu-item {
    a {
      background-color: $endeavour;
    }
  }
  .nav-callout a {
    color: $ronchi;
  }
  a {
    position: relative;
    &:hover {
      background-color: $jelly-bean;
    }
  }

}
#related-links a {
  &:hover {
    color: $ronchi;
    text-decoration: underline;
  }
}
.has-header-image {
  .intro-text {
    color: $white;
    a, a:visited {
      color: $white;
      text-decoration: underline;
    }
  }
}

// Flex Content
.content-section {
  border-bottom-color: $ronchi;
  overflow: auto;
  &--title {
    h2 {
      color: $white;
    }
  }
  .flex-newsfeed &--title {
    background-color: $mojo;
  }
  .flex-map &--title {
    background-color: $shakespeare;
    color: $white;
    @include medium {
      background-color: rgba($shakespeare, .9);
    }
  }
  .flex-twitter &--title {
    background-color: $endeavour;
    @include medium {
      background-color: rgba($endeavour, .9);
    }
  }
  .flex-general &--title {
    background-color: $endeavour;
  }
}
.flex {
  &-newsfeed {
    background-color: $white;
    .post--title {
      background-color: rgba($jelly-bean, .95);
      color: $white;
      a {
        color: $white;
      }
    }
    .entry {
      padding: 1rem .667em;
    }
  }
  &-twitter {
    background-color: $big-stone;
  }
  &-general {
    background-color: $white;
  }
  &-callout {
    &.theme_light {
      background-color: $shakespeare;
      color: $white;
      .button {
        background-color: #e4a223;
        border-color: $white;
        &:hover {
          background-color: darken(#e4a223, 10%);
        }
      }
    }
    &.theme_medium {
      background-color: $mojo;
      color: $white;
    }
    &.theme_dark {
      background-color: $vivid-auburn;
      color: $white;
    }
  }
}

// Twitter Card
.tweet-card {
  background-color: rgba($white, .83);
  .username {
    color: $black;
    line-height: 1;
  }
  .screen-name {
    a {
      color: lighten($black, 40%);
    }
  }
  .date {
    &, > a {
      color: #4C4C4C;
    }
    > a:hover {
      text-decoration: underline;
    }
  }
}


// Form colors
#{$all-text-inputs} {
  background-color: $white;
  border: 1px solid #aaa;

  &:hover {
    border-color: shade($endeavour, 20%);
  }

  &:focus {
    border-color: $shakespeare;
  }

  &:disabled {
    background-color: shade($white, 5%);

    &:hover {
      border-color: $endeavour;
    }
  }

  &::placeholder {
    color: tint($black, 40%);
  }
}

button, input[type='submit'], .button, a.button {
  @include hew-button( $white, $endeavour, $endeavour );
  @include hew-button-size(ms(-1), ms(1), ms(1), 1.3);
  text-transform: uppercase;
  font-family: $font__default-heading-stack;
  font-weight: $weight__bold;
}
hr {
  border-color: $desert;
}
// sponsorship
.sponsor-group {
  background-color: $white;
}
.page-template-layout-sponsorship {
  .site-main {
    h2 {
      color: $vivid-auburn;
    }
    h3 {
      color: $milano-red;
    }
    h4 {
      color: $ecstasy;
    }
  }
  .packages--intro {
    border-color: $vivid-auburn;
    &.opportunities {
      border-color: $ecstasy;
      h3 {
        color: $ecstasy;
      }
    }
  }
  .price-cluster {
    .price {
      color: $ecstasy !important;
    }
  }
  .sponsor-package {
    &--additions {
      .teardrop {
        background-color: $ecstasy;
      }
      .price-cluster {
        h3 {
          color: $ecstasy;
        }
        .opportunity--subhead {
          color: $vivid-auburn;
        }
      }
    }
    &.opportunities {
      .price-cluster {
        border-color: $vivid-auburn;
      }
    }
  }
  .sponsor-info {
    background: $white;
  }
}

button.menu-toggle {
    background-color: rgba($vivid-auburn, .65);
    backdrop-filter: invert(80%);
}

.jump-menu {
  background: rgba(#000, .75);
  color: $white;
  a {
    color: $white;
  }
  @include medium-down {
    &.open {
      background-color: $brandy-punch;
    }
    button {
      border-color: $big-stone;
    }
  }
  button {
    background-color: transparent;
    &.active {
      background-color: $endeavour;
    }
  }
}

.page-template-layout-schedule {
  .site-main {
    background-color: $white;
  }
  .day-heading {
    background-color: $vivid-auburn;
    color: $white;
  }
  .schedule {
    &--event {
      border-color: $big-stone;
    }
    .time-block {
      background-color: $big-stone;
      color: $white;
    }
    .event--location {
      color: lighten($black, 30%);
    }
    .event--heading {
      .icon {
        fill: $black;
      }
    }
    .event-type--session {
      .session {
        border-color: #969696;
        h3 {
          color: $jelly-bean;
        }
        &--location {
          color: $milano-red;
        }
      }
    }
  }
  span[class*="track-code--"],
  li[class*="track-code--"]:before {
    color: $white;
  }
  span.track-code {
    &--wrk {
      background-color: $big-stone;
    }
    &--aim {
      background-color: $endeavour;
    }
    &--dpa {
      background-color: $dpa;
    }
    &--mcs {
      background-color: $mcs;
    }
    &--mpd {
      background-color: $mpd;
    }
    &--tie {
      background-color: $tie;
    }
    &--uad {
      background-color: $uad;
    }
    &--cor {
      background-color: $cor;
    }
  }
}
li.track-code {
  color: $endeavour;
  &--wrk:before {
    background-color: $big-stone;
  }
  &--aim:before {
    background-color: $endeavour;
  }
  &--dpa:before {
    background-color: $dpa;
  }
  &--mcs:before {
    background-color: $mcs;
  }
  &--mpd:before {
    background-color: $mpd;
  }
  &--tie:before {
    background-color: $tie;
  }
  &--uad:before {
    background-color: $uad;
  }
  &--cor:before {
    background-color: $cor;
  }
}
#track-filter {
  h4 {
    color: $vivid-auburn;
  }
}
